.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 9;
  transition: all 0.3s linear;
  padding: 50px 0;
  height: 195px;
}

.header.active,
.header:hover,
.header:focus-within {
  background-color: #fff;
  color: #000;
}

.header:hover .imgWrap img:first-child {
  display: block;
}
.header.active .imgWrap img:first-child {
  display: block;
}

.header:hover .imgWrap img:last-child {
  display: none;
}
.header.active .imgWrap img:last-child {
  display: none;
}

.header.active .links-outer ul li span a {
  color: #000;
}

.header.active .links-outer .sub-menu {
  border-top: 1px solid #e5e4e7;
}

.header.active .img-wrap a img:first-child {
  display: block;
}
.header.active .img-wrap a img:last-child {
  display: none;
}
.header.active .toggler svg {
  fill: #000;
}
.header.active .toggler svg rect {
  fill: #000;
}
.header:hover .toggler svg {
  fill: #000;
}
.header .toggler {
  display: none;
}

.header:hover svg rect {
  fill: #000;
}
.header.slide-up {
  top: -130px;
  @media screen and (max-width: 992px) {
    top: 0;
  }
}
.header .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 195px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px #e5e4e7 solid;
}
.header .sub-menu .titleDescription {
  position: relative;
}
.header .sub-menu .linksContainer ul {
  display: block;
}
.header .sub-menu .linksContainer ul li {
  margin-left: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
}
.links-outer ul li.subActive .sub-menu {
  display: block;
}
.links-outer ul li.subActive::after{
position: absolute;
height: 3px;
width: 100%;
}

.main-menu-wrap {
  display: flex;
  align-items: center;
}

.links-outer {
  align-items: center;
  background-color: var(--header-background-color);
  transition: var(--header-color-transition);
  display: flex;
  flex-basis: calc(100% - 11.1rem);
  justify-content: flex-end;
  max-width: calc(100% - 11.1rem);
}

.links-outer nav {
  display: flex;
  align-items: center;
}
.links-outer nav.nav_active{
display: block;
}
.links-outer ul {
  display: flex;
  align-items: center;
}
.links-outer ul li {
  border-bottom: 0;
  margin-left: 50px;
  padding: 4rem 0;
}

.links-outer ul li > span {
  cursor: pointer;
  font-weight: 700;
}
.links-outer ul .menulink {
  pointer-events: none;
}
.links-outer ul li:first-child {
  margin-left: 0;
}

.imgWrap {
  width: 100%;
  height: 100%;
  max-width: 200px;
}
.imgWrap img:first-child {
  display: none;
}

#hamburger svg {
  transition: transform 0.3s ease;
}

.clicked {
  transform: rotate(45deg);
}
@media (min-width: 992px) and (max-width: 1279px) {
  .links-outer ul li {
    margin-left: 34px;
  }
}
@media (max-width: 991px) {
  .header {
    height: 95px;
    padding: 30px 0;
  }
  .header .sub-menu {
    position: relative;
    display: none !important;
  }
  .header .toggler {
    display: block;
  }

  .links-outer nav {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 95px;
    padding: 0 18px 85px;
  }

  .links-outer ul {
    display: block;
    padding-left: 0;
  }
  .links-outer ul li {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px #989898 solid;
  }
}
