.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 99;
  transition: all 0.3s linear;
  height: 154px;
  padding-top: 12px;
}

.header.active,
.header:hover,
.header:focus-within {
  background-color: #fff;
  color: #000;
}

.imgWrap {
  width: 100%;
  height: 100%;
  max-width: 110px;
  max-height: 35px;
  margin-bottom: 12px;
}

.imgWrap img:first-child {
  display: none;
}

.header:hover .imgWrap img:first-child {
  display: block;
}

.header.active .imgWrap img:first-child {
  display: block;
}

.header:hover .imgWrap img:last-child {
  display: none;
}

.header.active .imgWrap img:last-child {
  display: none;
}

.header.active .links-outer ul li span a {
  color: #000;
}

.header.active .img-wrap a img:first-child {
  display: block;
}

.header.active .img-wrap a img:last-child {
  display: none;
}

.header.slide-up {
  top: -130px;
}

.main-menu-wrap {
  display: flex;
  align-items: center;
}

/* Toggler */

.header .toggler {
  display: none;
}

.header.active .toggler svg {
  fill: #000;
}

.header.active .toggler svg rect {
  fill: #000;
}

.header:hover .toggler svg {
  fill: #000;
}

.header:hover svg rect {
  fill: #000;
}

/* Links Outer */

.header .links-outer {
  align-items: center;
  background-color: var(--header-background-color);
  transition: var(--header-color-transition);
  display: flex;
  flex-basis: calc(100% - 11.1rem);
  justify-content: flex-end;
  max-width: calc(100% - 11.1rem);
}

.header .links-outer ul {
  display: flex;
  align-items: center;
}

.header .links-outer ul li {
  margin-left: 50px;
  margin-top: 54px;
  padding-bottom: 62px;
}

.header .links-outer ul li:hover > span {
  color: #fa198c;
}

.header .links-outer ul li:first-child {
  margin-left: 0;
}

.header .links-outer ul li > span {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.header .links-outer ul li > span > a {
  font-size: 20px;
  font-weight: 700;
}

.header .links-outer ul li.subActive .sub-menu {
  max-height: 44rem;
  border-top: 1px #e5e4e7 solid;
}

.header .links-outer ul li > span::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 0;
  left: 0;
  bottom: -67px;
  background-color: #fa198c;
  transition: width 0.3s ease-in-out;
  z-index: 10;
}

.header .links-outer ul li.subActive > span::after {
  width: 100%;
}

/* Sub Menu */

.header .sub-menu {
  position: absolute;
  display: block;
  max-height: 0;
  overflow: hidden;
  left: 0;
  top: 142px;
  width: 100%;
  height: auto;
  background-color: #fff;
  transition: max-height 0.3s ease-in-out, border-top 0.3s ease-in-out;
}

.header .sub-menu .titleDescription {
  position: relative;
}

.header .sub-menu .linksContainer ul {
  display: block;
}

.header .sub-menu .linksContainer ul li {
  margin-left: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
}

.header nav {
  display: flex;
  align-items: center;
}

.header nav.nav_active {
  display: block;
}

#hamburger svg {
  transition: transform 0.3s ease;
}

.clicked {
  transform: rotate(45deg);
}

@media (min-width: 992px) and (max-width: 1280px) {
  .header .links-outer ul li {
    margin-left: 30px;
  }
  .header .links-outer ul li > span > a {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .header {
    height: 95px;
    padding: 30px 0;
  }

  .header.slide-up {
    top: 0;
  }

  .header .toggler {
    display: block;
  }

  .header nav {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 65px;
    padding: 0 18px 78px;
    border-top: 1px #e5e4e7 solid;
  }

  .header .links-outer ul {
    display: block;
    padding-left: 0;
  }

  .header .links-outer ul li {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: none;
  }
  .header .links-outer ul li > span > a {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 30px 0 28px;
    border-bottom: 1px #e5e4e7 solid;
  }
  .header .links-outer ul li.subActive > span > a {
    border-bottom: none;
  }
  .header .links-outer ul li > span > a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url("/pink_plus_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
  }
  .header .sub-menu {
    position: relative;
    display: block;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    border-top: none;
  }
  .header .links-outer ul li.subActive .sub-menu {
    border-top: none;
  }
  .header .links-outer ul li > span::after {
    display: none;
  }
}
