.star_logo{
    position: relative;
  }
  .star_logo::after{
      content: '';
      position: absolute;
      top:-4.5rem;
      right:-10rem;
      width: 9.7rem;
      height: 8rem;
      transform: rotate(14.594deg);
      background-image: url('/Star.png');
      background-size: cover;
  }
  @media screen and (max-width: 480px) {
     .star_logo::after{
         top:-50px;
         right:-50px;
         width: 60px;
         height: 56px;
     }
  }