.imageholder {
  position: relative;
}
.imgone::after {
  content: "";
  position: absolute;
  top: 44.1rem;
  left: -24rem;
  width: 36rem;
  height: 18.3rem;
  z-index: 2;
  background-image: url("/Illustrations.png");
  background-size: cover;
}
@media (max-width: 1400px) {
  .imgone::after {
    left: -180px;
    width: 300px;
    height: 148px;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .imgone::after {
    left: -77px;
    width: 270px;
    height: 130px;
  }
}
@media (max-width: 991px) {
  .imgone::after {
    display: none;
  }
}
.imgtwo::after {
  content: "";
  position: absolute;
  top: 44.1rem;
  left: -24rem;
  width: 74rem;
  height: 40.7rem;
  z-index: 2;
  background-image: url("/Illustrations_two.png");
  background-size: cover;
}
@media (max-width: 1400px) {
  .imgtwo::after {
    top: 420px;
    left: -170px;
    width: 600px;
    height: 330px;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .imgtwo::after {
    top: 420px;
    left: -95px;
    width: 540px;
    height: 295px;
  }
}
@media (max-width: 991px) {
  .imgtwo::after {
    display: none;
  }
}
.imgthree::after {
  content: "";
  position: absolute;
  top: 31.4rem;
  left: -24rem;
  width: 33.9rem;
  height: 25rem;
  z-index: 2;
  background-image: url("/Illustrations_three.png");
  background-size: cover;
}
@media (max-width: 1400px) {
  .imgthree::after {
    left: -151px;
    width: 270px;
    height: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .imgthree::after {
    left: -63px;
    width: 240px;
    height: 177px;
  }
}
@media (max-width: 991px) {
  .imgthree::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .scrollerContainer {
    max-width: 1450px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    z-index: 5;
  }
}
.stickTop {
  position: fixed;
  top: 0;
  z-index: 5;
}
.innerWrap{
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.innerWrap.show{
  opacity: 1;
  visibility: visible;
  height: 100vh;
}