.padding-top {
  padding: 10rem 0;
}
@media (max-width: 991px) {
  .padding-top {
    padding: 50px 0 50px 0;
  }
}
/* .set-2 h1 {
  font-size: 140px;
  color: var(--white);
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 0.004em;
} */

/* @media (max-width: 1280px) {
  .set-2 h1 {
    font-size: 100px;
  }
} */

/* @media (max-width: 991px) {
  .set-2 h1 {
    font-size: 80px;
  }
} */

/* @media (max-width: 767px) {
  .set-2 h1 {
    font-size: 50px;
  }
} */

/* .set-2 .h1 {
  font-size: 140px;
  color: var(--white);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.05em;
} */

/* @media (max-width: 1280px) {
  .set-2 .h1 {
    font-size: 100px;
  }
} */

/* @media (max-width: 991px) {
  .set-2 .h1 {
    font-size: 80px;
  }
} */

/* @media (max-width: 767px) {
  .set-2 .h1 {
    font-size: 50px;
  }
} */

/* .set-2 h2 {
  font-size: 75px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.1;
} */

/* @media (max-width: 1280px) {
  .set-2 h2 {
    font-size: 60px;
  }
} */

/* @media (max-width: 991px) {
  .set-2 h2 {
    font-size: 50px;
  }
} */

/* @media (max-width: 767px) {
  .set-2 h2 {
    font-size: 40px;
  }
} */
/* .set-2 h3 {
  font-size: 55px;
  letter-spacing: -0.02em;
  font-weight: 700;
  line-height: 1.1;
} */

/* @media (max-width: 1280px) {
  .set-2 h2 {
    font-size: 40px;
  }
} */
/* 
@media (max-width: 991px) {
  .set-2 h2 {
    font-size: 35px;
  }
} */

/* @media (max-width: 767px) {
  .set-2 h3 {
    font-size: 30px;
  }
} */
/* .set-2 h4 {
  font-size: 30px;
  letter-spacing: -0.02em;
  line-height: 1.3;
  font-weight: 700;
} */
/* @media (max-width: 767px) {
  .set-2 h4 {
    font-size: 24px;
  }
} */
/* .set-2 h6 {
  font-size: 25px;
  letter-spacing: -0.02em;
  line-height: 1.1;
  font-weight: 400;
} */
/* @media (max-width: 767px) {
  .set-2 h6 {
    font-size: 24px;
  }
} */
/* .set-2 p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
} */
/* @media (max-width: 767px) {
  .set-2 p {
    font-size: 18px;
  }
} */
/* .set-2 p.medium {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.32px;
} */

.set-2 .container {
  max-width: 1450px;
  padding: 0 20px !important;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}
.pink {
  color: #fa198c;
}
.circle {
  font-family: auto;
  margin-left: -30px;
}
.set-2 .overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--black);
  opacity: 0.7;
}

.dark__overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 0.7;
}

.light__overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 0.5;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
.inner-wrap {
  display: flex;
  background-color: #ccc; /* Set background color as needed */
}

.text-holder {
  /* width: 50%; */
  /* padding-left: 95px;
  padding-right: 135px; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.image-holder {
  width: 50%;
}

.img-wrap {
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content-with-img .text-holder {
  /* width: 50%; */
  /* padding-left: 95px;
  padding-right: 135px; */
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .content-with-img .text-holder {
    padding-left: 60px;
    padding-right: 100px;
  }
}

.redirect{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 0;
  z-index: 1;
}