/* Buttons  */

.pink-btn {
  display: inline-block;
  background: #fa198c;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.008em;
  border: 2px solid #fa198c;
  transition: all 0.3s ease-in-out;
}
.pink-btn:hover {
  background: transparent;
  border: 2px solid #fff;
}
.pink-btn.pink-border:hover {
  background: transparent;
  border: 2px solid #fa198c;
  color: #fa198c;
}

.link-btn {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  width: fit-content;
  font-size: 20px;
}
.link-btn.black {
  color: #000;
}
.link-btn.black::after {
  background-image: url("/r_arrow_black.svg");
}
.link-btn.white::after {
  background-image: url("/r_arrow_white.svg");
}
.link-btn.white {
  color: #fff;
}
.link-btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/r_arrow_white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s ease-in-out;
}
.link-btn:hover:after {
  right: -10px;
}

.btn-default {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: clamp(16px, 2vw, 20px);
  color: var(--white);
  font-weight: 700;
  line-height: 1;
  padding-right: 2rem;
}

.btn-default:hover {
  color: var(--pink);
}

.btn-default:hover:after {
  background-image: url(/hover_right.svg);
  right: 0;
}

.btn-default:after {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/white_link.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: right 0.3s ease-in-out, background-image 0.3s ease-in-out;
}
