/* Buttons  */

.pink-btn {
  display: inline-block;
  background: #fa198c;
  padding:1rem 2rem;
  font-size: 1.95rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.008em;
  border: 2px solid #fa198c;
  transition: all 0.3s ease-in-out;
}


@media only screen and (max-width: 991px) {
  .pink-btn {
    font-size: 16px;
  }
}
.pink-btn:hover {
  background: transparent;
  color: #fa198c;
  /* border: 2px solid #fff; */
}
.pink-btn.pink-border:hover {
  background: transparent;
  border: 2px solid #fa198c;
  color: #fa198c;
}

.link-btn {
  position: relative;
  display: inline-block;
  padding-right: 2.5rem;
  width: fit-content;
  font-size: 2rem;
}
.link-btn.black {
  color: #000;
}
.link-btn.pink {
  color: #fa198c;
}
.link-btn.black::after {
  background-image: url("/r_arrow_black.svg");
}
.link-btn.pink::after {
  background-image: url("/r_arrow_pink.svg");
}
.link-btn.white::after {
  background-image: url("/r_arrow_white.svg");
}
.link-btn.white {
  color: #fff;
}
.link-btn::after {
  content: "";
  position: absolute;
  width: 2rem;
  height:  2rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/r_arrow_white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s ease-in-out;
}
.link-btn:hover:after {
  right: -5px;
}

.btn-default {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: clamp(16px, 1.3vw, 20px);
  font-size: 1.6rem;
  /* color: var(--white); */
  font-weight: 700;
  line-height: 1;
  padding-right: 3.5rem;
}

@media only screen and (min-width: 1201px) {
  .btn-default {
    font-size: 2rem;
  }
}

.btn-default:hover {
  color: var(--pink);
}

.btn-default:hover:after {
  background-image: url(/hover_right.svg);
  right: 0;
}

.btn-default:after {
  content: "";
  height: 2rem;
  width: 2.2rem;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/white_link.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: right .3s ease-in-out, background-image .3s ease-in-out;
}

.btn-default.dark-btn-default:hover:after {
  background-image: url(/hover_right.svg);
  right: 0;
}

.btn-default.dark-btn-default:after {
  background-image: url(/black_link.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
